.App {
  background-color: rgb(169, 104, 230);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 50px;
  width: 500px;
  margin: 0 auto;
  gap: 10px;
  height: 100%;
}

.btns {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: right;
}