.TextAreaInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textArea{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
}

.textArea:hover {
    border: 2px solid rgb(94, 29, 155);
}